name: API Lint

on:
  pull_request:
    paths:
      - 'api/**'
      - '.github/workflows/api-lint.yml'

jobs:
  lint:
    # runs-on: ubuntu-latest
    # runs-on: self-hosted
    runs-on: arc-runner-shared
    defaults:
      run:
        working-directory: ./api

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Run lint
        run: npm run lint
