name: Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4.2.2

      - uses: actions/setup-node@v6
        with:
          node-version: 20

      - uses: pnpm/action-setup@v4
        with:
          version: 9.14.4
    
      - name: API Install dependencies
        run: |
          rm -rf node_modules
          pnpm install
        working-directory: ./api

      - name: Frontend Clean and Install dependencies
        run: |
          rm -rf node_modules pnpm-lock.yaml
          pnpm install
        working-directory: ./frontend

      - name: Deploy API
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          workingDirectory: ./api
          packageManager: pnpm
          command: "deploy --minify --env=\"\""

      - name: Deploy Frontend
        run: pnpm run deploy
        working-directory: ./frontend
        env:
          NEXT_PUBLIC_API_BASE_URL: ${{ secrets.NEXT_PUBLIC_API_BASE_URL }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
